header {
    background: #BBBBBB;
    padding: 20px 0;
}



.caixa {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    padding: 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;


}

nav a:hover {
    color: purple;
    text-decoration: underline;
}


body {}


#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo_principal {
    font-size: 300%;
    padding-left: 20px;
    padding-bottom: 10px;
}

.titulo_centro {
    text-align: center;
    font-size: 45px;
    padding: auto;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

#missao {
    font-size: 30px;
    padding: 10px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
    display: inline-block;
    text-align: center;
    width: 50%;
    vertical-align: top;
    margin: 5% 5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 10px;
}

.itens:hover {
    border-color: purple;
}

.itens:active {
    border-color: magenta;
}

.beneficios {
    background-color: white;
    padding: 20px;
}



ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

li {
    font-size: 120%;
    margin: 10px
}

.imgbeneficios {
    width: 50%;
    border: 5px solid black;
}

footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}

.CP {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}